body {
    margin: 0;
    margin-bottom: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 40px;
}

i {
    color: white;
}

i:hover {
    cursor: pointer;
    color: #121210;
}

.footer-container {
    font-size: 30px;
    text-align: right;
    padding-right: 20px;

}

.contact-container {
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    color: white;
}

.text_footer {
    padding-top: 10px;
    font-size: 15px;
}

.contact-ul {
    padding-top: 10px;
}

a {
    color: #0085b2;
    text-decoration: none;
}

ul {
    padding: 50px;
}

.navbar-right{
    padding: 0px;
}

.social-media{
    padding: 0px;
}

.bg-inverse{
    padding-left: 10%;
    padding-right: 10%;
}


#test{
    position: fixed;
    left: 20%;
    transform: translateX(-50%);
     z-index: 1;
}

#type_time{
    padding: 0;
    width: 100%;
}

select{
    text-overflow: ellipsis;
}

