{% load static %}
{% load i18n %}
{% load event_tag %}

<footer class="footer">
    <div class="row">
        <div class="col-sm-4 contact-container">
            <div>
                <ul class="list-inline contact-ul">
                    <li>
                        <a>
                            <i class="fas fa-phone-square contact-container"></i>
                        </a>
                            <label>{% phone %}</label>
                    </li>
                    <li>
                        <a>
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                            <label>{% location %}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 text_footer">
            Encuentro Centroamericano de Software Libre
        </div>
        <div class="col-sm-4">
            <div class="footer-container">

                <ul class="list-inline social-media">
                    <li>
                        <a>
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>